<div>
    <button style="left: 40%;" pButton [disabled]="this.refreshDisabled ? true : false" (click)="refreshPosts()">
        Refresh Posts
    </button>
</div>
<div *ngFor="let post of postsJson" class="cards">
    <p-card >
        <ng-template pTemplate="header">
            <span style="padding: 0.1em;">
                <strong>{{post.userid || 'Joe Smith'}} - {{post.title}}</strong>
            </span>
        </ng-template>
        <p-divider></p-divider>
        <span style="float: left;">
            {{post.message}}
        </span>
    </p-card>
</div>